<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="HostID" value="d8e444ea-878b-44b3-b20a-70e73a9e8724" />
    <add key="HostAutoServiceDetect" value="30" />
    <add key="WebServiceAutoDetectSecond" value="10" />
    <add key="SQLServiceAutoDetectSecond" value="10" />
    <add key="NotificationAfterServiceFailCount" value="4" />
    <add key="AutoRestart" value="0" />
    <add key="SMTPServer" value="smpt.google.com" />
    <add key="SMTPFrom" value="demo@gmail.com" />
    <add key="SMTPFromPwd" value="demo1234" />
    <add key="SMTPToUser01" value="test@gmail.com" />
    <add key="SMTPToUser02" value="" />
    <add key="ChannelAccessToken" value="" />
    <add key="Admin01LineID" value="" />
    <add key="Admin02LineID" value="" />
    <add key="Admin03LineID" value="" />
    <add key="SystemDiskPath" value="" />
    <add key="DataDiskPath" value="" />
    <add key="WebSite01" value="https://tw.yahoo.com" />
    <add key="WebSite02" value="https://www.google.com.tw" />
    <add key="WebSite03" value="" />
    <add key="WebSite04" value="" />
    <add key="WebSite05" value="" />
    <add key="WebSite06" value="" />
    <add key="WebSite07" value="" />
    <add key="WebSite08" value="" />
    <add key="WebSite09" value="" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>